.place__title {
  font-family: 'Inter', Arial, sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  color: #FFF;
  /*pixelperfect:*/
  line-height: 77px;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 43px;
    line-height: 47px;
  }
}

@media screen and (max-width: 640px) {
  .place__title {
    margin: 0 0 0 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
