.photo-grid {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-bottom: 92px;
  max-width: calc(100% - 48px*2);
 margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: calc(100% - 24px*2);
    padding-bottom: 89px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    max-width: calc(100% - 16px*2);
    padding-bottom: 64px;
  }
}
