.place__paragraph-area {
  max-width: 484px;
  display: flex;
  flex-direction: column;
  /*pixel perfect:*/
  gap: 27px;
}

@media screen and (min-width: 768px) {
  .place__paragraph-area {
    gap: 28px;
  }
}

@media screen and (min-width: 320px) {
  .place__paragraph-area {
    margin: 0 16px;
  }
}
