.place__paragraph-area {
  max-width: 484px;
  display: flex;
  flex-direction: column;
  /*pixel perfect:*/
  gap: 27px;
}

@media screen and (max-width: 640px) {
  .place__paragraph-area {
    margin: 0 16px;
  }
}
