.cover__container {
  position: relative;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /* чтобы избежать переполнения контента:*/
  padding: 16px;
  box-sizing: border-box;
}
