.cover__text-area {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  z-index: 3;
}

@media screen and (max-width: 320px) {
  .cover__text-area {
    gap: 16px;
  }
}
