.footer {
  display: flex;
  padding-top: 92px;
  padding-bottom: 24px;
  width: calc(100% - 48px*2);
}

@media screen and (max-width: 1024px) {
  .footer {
    width: calc(100% - 48px*2);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    justify-content: space-between;
    max-width: 186px;
    min-height: 310px;
    margin: 0 0 0 16px;
    padding-top: 64px;
    align-self: flex-start;
  }
}
