.place__website {
  display: flex;
  flex-direction: column;
  gap: 9px;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .place__website {
    gap: 12px;
  }
}

@media screen and (max-width: 640px) {
  .place__website {
    margin: 0 0 0 16px;
  }
}

@media screen and (max-width: 320px) {
  .place__website {
    gap: 7px;
  }
}
